@font-face {
    font-family: "Roboto";
    src: url("../Fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("../Fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf");
}

body{
    font-family: "Roboto", sans-serif ;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Roboto", sans-serif;
}



header {
    background: url(/assets/IMG/panierleg.jpg) fixed no-repeat;
    background-size: cover;
    height: 90vh;
    position: absolute;
    top: 0;
    width: 100%;
}

header h1 {
    font-size: 7rem;
    margin: 14rem;
}

.opacity {
    opacity: 0.5;
    font-size: 6rem;
    color: white;
    transform: rotate(-90deg);
    left: -15%;
    top: 40%;
    position: absolute;
}

#who{
    width: 100%;
    height: 50vh;
    background: url(/assets/IMG/champs.jpg) fixed no-repeat;
    background-size: cover;
    background-position: 25% 75%;
}